<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thêm sản phẩm</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet" />
    <script src="https://use.fontawesome.com/4611f582cf.js"></script>
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/login&register.css" />
    <style>
      #form .wrap_input {
        margin-bottom: 0;
      }
      .facebook_btn {
        width: 100%;
      }
      #form h3 {
        margin-bottom: 20px;
      }
      #form .form-group {
        margin-bottom: 15px;
      }
      .or {
        margin: 5px 0;
      }
      .other {
        margin: 10px 0 5px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="wrap">
        <form id="form" action="/admin/addEmployee" method="POST">
          <h3 class="txt">THÊM SẢN PHẨM</h3>
          <div class="form-group">
            <div class="wrap_input">
              <input id="brand" type="text" name="brand" placeholder="Hãng" />
              <span class="focus-input"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="phone" readonly class="form-control-plaintext" type="text" name="phone" value="Điện thoại" />
              <span class="focus-input"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="name" type="text" name="name" placeholder="Tên sản phẩm" />
              <span class="focus-input"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="storage" type="number" name="storage" min="1" placeholder="Dung lượng" />
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="color" type="text" name="color" placeholder="Màu" />
              <span class="focus-input"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="price" type="number" name="price" min="1" placeholder="Giá" />
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="image1" type="text" name="image1" placeholder="Hình 1" />
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="image2" type="text" name="image2" placeholder="Hình 2" />
            </div>
          </div>
          <div class="form-group">
            <div class="wrap_input">
              <input id="image3" type="text" name="image3" placeholder="Hình 3" />
            </div>
          </div>
          <div class="btn form_btn txt" style="width: 100%">THÊM</div>
          <span class="form-message"></span>
          <div class="other txt">
            <a href="/admin/manage-products" class="login" style="text-decoration: none">Quay lại</a>
            <br />
          </div>
        </form>
      </div>
    </div>
    <script src="/js/add-product.js"></script>
  </body>
</html>
