<div class="top_nav">
  <div class="nav_menu">
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <nav class="nav navbar-nav" style="float: right">
      <ul class="navbar-right">
        <li class="nav-item dropdown js-nav" style="padding-left: 15px">
          <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>
            <%- user.full_name %>
            <span class="fa fa-chevron-down js-pro"></span>
          </a>
          <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" style="border-radius: 4px !important; margin-top: 5px;">
            <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
