<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <% if (user.role_id == 2) { %>
                <a href="/admin" class="site_title"><i class="fa fa-user-circle"></i> <span>Admin</span></a>
            <%} else { %>
                <a href="/employee/customers" class="site_title"><i class="fa fa-user-circle"></i> <span>Employee</span></a>
            <%}%>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <!-- <img src="images/img.jpg" alt="..." class="img-circle profile_img"> -->
            </div>
            <div class="profile_info">
                <span>Xin chào,</span>
                <%- user.full_name %>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <a href="/admin">
                        <li>Trang chủ </a>
                    </li>
                    </a>
                    <li><a><i class="fa fa-edit"></i> Quản lý <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <% if (user.role_id == 2) { %>
                                <li><a href="/admin/">Quản lý nhân viên</a></li>
                                <li><a href="/admin/products">Quản lý hàng hóa</a></li>
                                <li><a href="/admin/customers">Quản lý khách hàng</a></li>
                                <li><a href="/admin/hoadon">Quản lý hóa đơn</a></li>
                            <%} else { %>
                                <li><a href="/employee/customers">Quản lý khách hàng</a></li>
                                <li><a href="/employee/hoadon">Quản lý hóa đơn</a></li>
                            <% }%>
                            
                        </ul>
                    </li>

                    <li><a><i class="fa fa-bar-chart-o"></i> Báo cáo <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/baocaobanhang">Báo cáo bán hàng</a></li>
                            <li><a href="/admin/baocaonhanvien">Báo cáo nhân viên</a></li>

                        </ul>
                    </li>

                    <li><a><i class="fa fa-user"></i> Tài khoản <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="taikhoan.html">Thông tin tài khoản</a></li>
                            <li><a href="login.html">Thoát</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>