<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>register| E-Shopper</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/font-awesome.min.css" rel="stylesheet" />
    <link href="./css/prettyPhoto.css" rel="stylesheet" />
    <link href="./css/price-range.css" rel="stylesheet" />
    <link href="./css/animate.css" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/responsive.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("partials/header") %>
    <div>
      <div class="page-heading" style="text-align: center">
        <h1>404 Not Found</h1>
        <span class="subheading">Return home page</span>
      </div>
    </div>
    <!-- footer -->
    <%- include("partials/footer") %>
    <!-- scripts -->
    <%- include("partials/scripts") %>
  </body>
</html>
