<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PoorShop! | </title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="css/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="css/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="css/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="css/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="css/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav" style="float: right;">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown js-nav" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">Tinhle
                                    <span class="fa fa-chevron-down js-pro"></span>
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="taikhoan.html"> Tài khoản</a>


                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                                </div>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index2.html" class="site_title"><i class="fa fa-paw"></i> <span>PoorShop!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>Tình Lê</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <a href="index2.html">
                                    <li>Trang chủ </a>
                                </li>
                                </a>
                                <li><a><i class="fa fa-edit"></i> Quản lý <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="nhanvien.html">Quản lý nhân viên</a></li>
                                        <li><a href="sanpham.html">Quản lý hàng hóa</a></li>
                                        <li><a href="khachhang.html">Quản lý khách hàng</a></li>
                                        <li><a href="hoadon.html">Quản lý hóa đơn</a></li>
                                    </ul>
                                </li>

                                <li><a><i class="fa fa-bar-chart-o"></i> Báo cáo <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="baocaobanhang.html">Báo cáo bán hàng</a></li>
                                        <li><a href="baocaonhanvien.html">Báo cáo nhân viên</a></li>

                                    </ul>
                                </li>

                                <li><a><i class="fa fa-user"></i> Tài khoản <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="taikhoan.html">Thông tin tài khoản</a></li>
                                        <li><a href="login.html">Thoát</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>




            <!-- page content -->
            <div class="right_col" role="main">
                <div class="x_panel">
                    <div class="">

                        <h1 class="text-center">Thông tin cá nhân</h1>
                    </div>

                    <div class="h_content ">

                        <fieldset>

                            <div class="row form-group">
                                <div class="col-lg-4">
                                    <input type="hidden">
                                </div>
                                <div class="col-lg-2 ">
                                    <h4> Tên đầy đủ :</h4>
                                </div>
                                <div class="col-lg-3 ">
                                    <h4>Lê Thị Tình</h4>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-4">
                                    <input type="hidden">
                                </div>
                                <div class="col-lg-2 ">
                                    <h4> Ngày sinh :</h4>
                                </div>
                                <div class="col-lg-3 ">
                                    <h4>18/06/2000</h4>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-4">
                                    <input type="hidden">
                                </div>
                                <div class="col-lg-2 ">
                                    <h4> Giới tính :</h4>
                                </div>
                                <div class="col-lg-3 ">
                                    <h4>Nữ</h4>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-4">
                                    <input type="hidden">
                                </div>
                                <div class="col-lg-2 ">
                                    <h4> Địa chỉ :</h4>
                                </div>
                                <div class="col-lg-3 ">
                                    <h4>Sen Thủy, Lê Thủy, Quảng Bình</h4>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-4">
                                    <input type="hidden">
                                </div>
                                <div class="col-lg-2 ">
                                    <h4> Email :</h4>
                                </div>
                                <div class="col-lg-3 ">
                                    <h4>lethitinh1112@gmail.com</h4>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-4">
                                    <input type="hidden">
                                </div>
                                <div class="col-lg-2 ">
                                    <h4> Số điện thoại :</h4>
                                </div>
                                <div class="col-lg-3 ">
                                    <h4>0968699534</h4>
                                </div>
                            </div>
                        </fieldset>



                    </div>

                    <div class="form-group form-inline">

                        <div class="col-sm-4">
                            <input type="hidden">
                        </div>

                        <div class="col-sm-2 text-center">
                            <button type="button" class="btn btn-primary left js-add-em">
                                <i class="fa fa-pencil"></i>
                                Chỉnh sửa
                            </button>
                        </div>
                        <div class="col-sm-2 text-center">
                            <button type="button" class="btn btn-primary left js-add-up">
                                
                                Đổi mật khẩu
                            </button>
                        </div>

                    </div>


                </div>

            </div>

            <!-- /page content -->

            <!--Modal update ptofile-->
            <div id="addform" class="modal fade js-modal">
                <div class="modal-dialog">
                    <div class="modal-content js-modal-content">
                        <div class="modal-header">
                            <button type="button" class="close js-modal-close">
                                <span>x</span>
                            </button>
                            <h4 class="modal-title">Chỉnh sửa thông tin</h4>
                        </div>

                        <form action="" id="demo1" class="form-horizontal form-label-left">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-6 ">
                                        <input type="hidden" name="id" value="0">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Tên đầy đủ</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="Tên" value="Lê Thị Tình">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Ngày sinh</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="datetime-local" name="" id="" class="form-control" placeholder="Ngày sinh" value="18/06/2000">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Giới tính</label>
                                    <label class="col-md-3">
                                        <input type="radio" value="0" name="radio" checked>
                                        <span>Nam</span>
                                    </label>
                                    <label class="col-md-3">
                                         <input type="radio" value="1" name="radio">
                                         <span>Nữ</span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Địa chỉ</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="Địa chỉ" value="Sen Thủy, Lệ Thủy, Quảng Bình">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">SĐT</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="SĐT" value="0968699534">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-3 col-sm-2 col-xs-12">Gmail</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="gmail" value="lethitinh1112@gmail.com">
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-default">Thoát</button>
                                <button class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/modal update profile-->



            <!--Modal update pass-->
            <div id="updateform" class="modal fade js-modal2">
                <div class="modal-dialog">
                    <div class="modal-content js-modal-content2">
                        <div class="modal-header">
                            <button type="button" class="close js-modal-close2">
                                <span>x</span>
                            </button>
                            <h4 class="modal-title text-center">Đổi mật khẩu</h4>
                        </div>

                        <form action="" id="demo3" class="form-horizontal form-label-left">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <input type="hidden" name="id" value="0">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-4 col-sm-2 col-xs-12">Nhập mật khẩu cũ</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="Mật khẩu cũ">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="control-label col-md-4 col-sm-2 col-xs-12">Nhập mật khẩu mới</label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="Mật khẩu mới">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="" class="control-label col-md-4 col-sm-2 col-xs-12">Xác nhận mật khẩu mới </label>
                                    <div class="col-md-7  col-xs-12">
                                        <input type="text" name="" id="" class="form-control" placeholder="nhập lại mật khẩu">
                                    </div>
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-default">Thoát</button>
                                <button class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/modal update pass-->






            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Quản lý web bán điện thoại<a href="https://colorlib.com">PoorShop</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="js/nprogress.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="js/moment.min.js"></script>
    <script src="js/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="js/bootstrap-wysiwyg.min.js"></script>
    <script src="js/jquery.hotkeys.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="js/custom.min.js"></script>

    <script>
        const Addbtn = document.querySelector('.js-add-em')
        const modal = document.querySelector('.js-modal')
        const modal2 = document.querySelector('.js-modal2')


        const modalClose = document.querySelector('.js-modal-close')
        const modalClose2 = document.querySelector('.js-modal-close2')


        const modalContent = document.querySelector('.js-modal-content')
        const modalContent2 = document.querySelector('.js-modal-content2')

        const updates = document.querySelector('.js-add-up')

        function showAdd() {
            modal.classList.add("in")
        }



        function showUpdate() {
            modal2.classList.add("in")
        }



        function hiden() {
            modal.classList.remove("in")
        }


        function hiden2() {
            modal2.classList.remove("in")
        }


        Addbtn.addEventListener('click', showAdd)



        updates.addEventListener('click', showUpdate)



        modalClose.addEventListener('click', hiden)
        modalClose2.addEventListener('click', hiden2)

        modal.addEventListener('click', hiden)
        modalContent.addEventListener('click', function(event) {
            event.stopPropagation()
        })



        modal2.addEventListener('click', hiden2)
        modalContent2.addEventListener('click', function(event) {
            event.stopPropagation()
        })
    </script>



</body>

</html>